h1, h2, h3, h4, h5, h6, p{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-weight: bolder;
}

#title{
    background-color: #D8E3E7;
}

#car_selection_section{
    background-color: #51C4D3;
}

#testimonial_section{
    background-color: #126E82;
}

#contact_us_section{
    background-color: #132C33;
}

.container-fluid{
    padding: 3% 15% 7%;
}

.title_car_pic{
    text-align: center;
    padding-left: 10rem;
    width: 80%;
}

.contact_us{
    color: white;
}

.search_bar{
    padding-right: 20rem;
    padding-top: 2rem;
}


.title_text_1{
    font-weight: 900;
    padding-top: 10rem;
    text-align: center;
}

.title_text_2{
    padding-top: 5rem;
    padding-right: 5rem;
    text-align: center;
}

.sign_up_text{
    font-size: medium;
    margin-left: 4rem;
}

.car_selection_text{
    padding-bottom: 2rem;
    text-align: center;
    font-weight: 600;
}

.testimonials{
    text-align: center;
}

.contact_us{
    text-align: center;
}

.card-body{
    text-align: center;
    
}

.car_selection_pics{
    height: 12rem;
    width: 18rem;
}

#testimonial_section{
    color: white;
    text-align: center;
}

.carousel-item {
    padding: 7% 15%;
  }

.testimonial_text{
    padding-bottom: 2rem;
}

.testimonial_pic{
    margin: 20px;
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

.testimonial_text_2{
    font-size: 2rem;
}

#contact_us_section{
    color: white;
    text-align: center;
    padding: 7% 15%
}

.contact_us_icons{
    margin: 20px 10px;
}

.contact_us_go_back{
    margin-top: 3em;
    padding-left: 2em;
}

.contact_us_form{
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
    line-break: auto;
}

#form_section{
    background-color: #D8E3E7;
}

#contact_us_form_page_header{
    color: #126E82;
    padding-top: 3em;
    padding-bottom: 2em;
}

.contact_title_text{
    text-align: center;
    padding-top: 1em;
}

.form_section_title{
    padding-top:1em;
    text-align: center;
}

.form_labels_name{
    padding-top: 1em;
    padding-bottom: 1em;
}

.form_labels_email{
    padding-bottom: 2em;
}

.inventory_title_text{
    text-align: center;
    color: #126E82;
}

.list-group-item{
    text-align: center;
}

.inventory_car_text{
    text-align: center;
}
.inventory_car_pic{
    width: auto;
    height: auto;
}